


.btn-grad {
  /* background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%) */
  background-image: linear-gradient(to right, #1A2980 0%, #26b4b2  51%, #1A2980  100%)
  /* background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%) */
  /* background-image: linear-gradient(to right, #085078 0%, #7ac7be  51%, #085078  100%) */
}
.btn-grad {
  
  padding: 8px 20px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 8px;
  display: block;
  border: unset;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


