.home__main-section {
    color: #fff;
    padding: 110px 0;
  }
  
  .home__main-row {
    align-items: center;
  }
  
  .row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  .col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
  }
  
  .home__main-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
  }
  
  .top-line {
    color: #f00946;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  
  .heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
  }
  
  .dark {
    color: #1c2237;
  }
  
  .darkBg {
    /* background-color: #1c2237; */
    background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #fcd3e1 0%, #a4faf7 100%);
  
  
  }
  
  .home__main-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .home__main-img-wrapper-info {
    padding-bottom: 60px;
    max-width: 555px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
  }
  
  .home__main-img-info {
    max-width: 56%;
    max-height: 56%;
    border-radius: 50%;
    
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 24px;
    padding-right: 0;
  }
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  .mycv {
    display: flex;
    
  }
  
  .mycv .mycv-en {
    margin-right: 60px;
  }
  .mycv a {
    text-decoration: none;
  }
  
  .mycv a p {
    font-size: 14px;
    font-weight: 600;
    color: #9e9d9d;
    padding-bottom: 6px;
    margin-left: 4px;
  }
  .home__main-img-wrapper-info .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  /* Social Icons */
  .home__main-img-wrapper-info .social-icons .social-icon-link {
    color: rgb(58, 58, 58);
    font-size: 24px;
  }
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .home__main-text-wrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }
  
    .mycv  {
      justify-content: space-between;
    }
    .mycv .mycv-en {
      margin-right: unset;
    }
  }